.h1-1{
    font-weight: bold;
    font-family: serif;
    font-size: x-large;
 }

 .contenedor{
    background-color: rgba(241, 236, 236, 0.363);
 }

 .contenedor-2{
   margin: 50px;
 }

 .a-1{
   font-weight: bold;
}


 .p-1{
   font: 1em sans-serif;
 }

 .img-1{
  text-align: center;
 }

 .boton1{
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  display: flex;
  justify-content: center;
 }